<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
</head>

<body>
    <div id="div">
        <ul>
            <div v-for="name in names">
                {{name}}
            </div>
            <li v-for="value in student">
                {{value}}
            </li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: "#div",
        data: {
            names: ["张三", "李四", "王五"],
            student: {
                name: "张三",
                age: 23
            }
        }
    });
</script>

</html>